<div>
  <% @teams.each do |team| %>
  <div>
    <%= link_to team.name, team_path(team) %>
  </div>
  <hr>
  <% end %>
  <p>
    <%= link_to t("teams.new_team"), new_team_path, method: :get, class: "button" %>
  </p>
</div>
