<h1><%= t("dashboard") %></h1>
<div>
  <% @teams.each do |team| %>
  <div>
    <h2>
      <%= link_to team.name, team_path(team) %>
    </h2>

    <% team.posts.first(5).each do |post| %>
      <div class="tweet">
        <%= link_to post.tweet, team_post_path(post.team, post) %>
        <%= button_to t("actions.tweet"), team_tweet_post_path(post.team, post) %>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

