<div>
  <h1><% t("user.profile") %></h1>
  <%= @user.name %>
  <hr>
  <%= image_tag @user.image_url, class: "avatar" %>
  <% if current_user.id == @user.id %>
    <%= link_to t("user.edit_profile"), edit_user_path(@user) %>
  <% end %>

</div>
