/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bourbon";
@import "normalize-rails";
@import "variables";

body {
  background: $eggplant;
}

.navigation {
  background: $nav-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  max-height: 4em;
  position: relative;
  width: 100%;
  z-index: 60;

  .wrap {
    line-height: 4em;
  }

  .logo {
    display: inline;
    height: 4em;
  }

  a {
    color: white;
    font-weight: 200;
    text-decoration: none;
  }

  .logo-text {
    line-height: 4em;
    vertical-align: top;
  }
}

.wrap {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.7em;
}

.container {
  @include clearfix;
  background-color: $container-background;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee, 0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee, 0 20px 1px -9px rgba(0, 0, 0, 0.15);
  padding-top: 2em;
  margin-bottom: 2em;

    a {
      color: $eggplant-dark;
      font-weight: 200;
      text-decoration: none;
    }

    .button {
      border: 2px solid $eggplant-dark;
      font-weight: normal;
    }
}

.pull-right {
  float: right;
}

.button {
  border: 1px solid white;
  border-radius: 3px;
  padding: .68em;
}

.avatar {
  border-radius: 50%;
  height: 3em;
  margin: .5em;
  vertical-align: top;

  &.small {
    height: 2em;
  }
}

.callout {
  color: $eggplant-dark;
}

.user {
  line-height: 3em;
}

.tweet {

  form {
    display: inline;
  }
}
